
<style>
  :root {
    --text: #edeff7;
    //--background: #070c1d;
    --background: 7, 12, 29;
    --primary: #ffb177;
    --secondary: #81317b;
    --accent: #c15b90;
    --accent-dark: #51263d;
  }

  @font-face {
    font-family: 'ChakraPetch';
    src: url('/extras/ChakraPetch.woff2') format('woff2');
  }
  
  body{
    background-color: rgb(var(--background));
  }

  .side-bar{
    background-color: rgb(var(--background));
    border-right: 1px solid var(--accent-dark);
  }

  #main-header{
    background-color: rgb(var(--background));
    border-bottom: 1px solid var(--accent-dark);
  }

  .search-input{
    background-color: rgb(var(--background));
  }

  h1 {
    font-family: 'ChakraPetch', sans-serif;
    letter-spacing: 0.03em !important;
    border-bottom: 5px dotted var(--secondary);
    padding: 10px 0px;
    padding-right: 10px;
    margin-bottom: 20px !important;
    color: var(--primary);
  }

  .site-title {
    color: var(--primary);
    font-family: 'ChakraPetch', sans-serif;
    font-size: 26px !important;
  }

  .site-nav {
    font-family: 'ChakraPetch';
  }

  .site-header {
    border-bottom: 1px solid var(--accent-dark);
  }

  wire-red{
    background-color: #ff4d4d;
    color: #000;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  wire-green{
    background-color: #429033;
    color: #000;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  wire-yellow{
    background-color: #dbac1a;
    color: #000;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  wire-white{
    background-color: #cccccc;
    color: #000;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  wire-black{
    background-color: #000000;
    color: #cccccc;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
  }

  sb-button{
    background-color: #cdcbcb;
    color: #242424;
    font-weight: bold;
    padding: 3px;
    border-radius: 3px;
    font-size: small;
  }

  sb-knob{
    background-color: #7796ff;
    color: #000000;
    font-weight: bold;
    padding: 3px;
    border-radius: 3px;
    font-size: small;
  }

  p{
    line-height: 1.75em;
    text-align: justify;
  }

  link-out{
    color: #000000;
    background-color: var(--primary);
    font-size: 14px;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 15px;
  }

  strong {
    font-weight: bold;
    filter: drop-shadow(0px 0px 12px #ffb17766);
  }

  .btn-green {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);
    background: rgb(var(--background));
    border: 2px solid var(--primary);
    color: var(--primary);
  }

  .btn-green:hover {
    background: rgb(var(--background));
  }

  .btn-blue {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);
    background: rgb(var(--background));
    border: 2px solid var(--accent);
    color: #ffa0d2;
  }

  .btn-blue:hover {
    background: rgb(var(--background));
  }

  .small-img{
    width: 100%;
    max-width: 400px;
  }

  .youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
  }

  t1 {
    color: var(--primary);
    font-size: 42px;
    display: block;
    font-family: 'ChakraPetch';
    line-height: 1.0;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: bold;
  }

  t2 {
    font-size: 16px;
    display: block;
  }
  
  purchaselink {
    font-weight: bold;
    color: #000000;
    background-color: var(--primary);
    padding: 6px 12px;
    border-radius: 24px;
    text-align: center;
    position: relative;
    top: -10px;
  }

  .sb-icon {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: -15px;
    margin-top: 30px;
  }


</style>
